body {
  font-family: monospace;
  background-color: #f2aed4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculadora {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(195, 43, 139, 0.1);
  text-align: center;
}

input {
  margin: 10px;
  padding: 10px;
  width: 120px;
  border: 10px solid #f5a8e1;
  border-radius: 6px;
}

.botones button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background-color: #ff00c8;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.botones button:hover {
  background-color: #b30080;
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}